table{
  border-collapse: collapse;
  margin: auto;
  width: 80%;
}
th {
  text-align: center;
}
td{
  border: 1px;
  border-style: solid;
  padding-left: 0px;
}

td:nth-child(3){

  text-align: center;

}
